%html
  %head
    %title Navege de forma mais simples nos seus rdocs :-)
    %link{:rel => 'stylesheet', :type =>'text/css', :href => '/style.css' }
    =link_js "jquery-1.3.2.min"
    =link_js "jquery-ui-1.7.2.custom.min"
    =link_js "main"
  %body

    %p
      %a{:href => '/'} Lista de gems

    =yield
